@import "./styles/reset.scss";

h1 {
  margin: none;
  color: blue;
  text-align: center;
  position: relative;
  bottom: 20px;
  font-weight: bold;
  font-size: 44px;
  text-shadow: 2px 2px 2px rgba(92, 0, 241, 0.5);
  background: linear-gradient(70deg, blue 55%, #ff006a 70%);
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', sans-serif;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-left: 5px solid #ff00ff;
  border-right: 5px solid #ff00ff;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  background-color: rgb(0, 0, 0);
  padding: 60px;
  text-align: center;
}

#start-game-btn {
  background-color: #ff00ff;
  color: rgb(47, 1, 214);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#start-game-btn:hover {
  background-color: blue;
  color: #ff00ff;
}


h2 {
  margin: none;
  color: rgb(119, 0, 255);
  text-align: center;
  position: relative;
  bottom: 30px;
  font-weight: bold;
  font-size: 44px;
  // text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(10deg, #0044ff 55%, #ff006a 70%);
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent;
}

#instructions {
  text-wrap: wrap;
  margin-top: 50px;
  font-size: smaller;
  color: rgb(0, 60, 255);
}

#git {
  margin-top: 40px;
}

#mute {
  margin-top: 1px;
}

#game-wrapper {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 500px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
}

#info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}



#game-container {
  border-left: 5px solid #ff00ff;
  border-right: 5px solid #ff00ff;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  border-radius: 10px;
  background-image: url(https://img.goodfon.com/wallpaper/nbig/c/82/kosmos-art-pikseli-8bit-planeta-zvezdy-retro-grafika.jpg);
  background-size: cover;
}

#timer-container,
#score-container,
#lives-container {
  border: 3px solid #0044ff;
  border-radius: 10px;
  height: 45px;
  width: 125px;
  background-color: rgb(0, 0, 0);
}

#timer-container {
  text-align: center;
  align-items: center;
  top: 20px;
  color: #0044ff;
  left: 50%;
}


#score-container,
#lives-container {
  align-items: center;
  text-align: center;
  font-size: 10px;
  line-height: 42px;
  bottom: 20px;
}

#lives {
  color: #0044ff;
}

#score {
  color: #0044ff;
}